@import 'components/colors';
@import 'components/fonts';
@import 'components/mexins';

//$VARIABLES 
//ANIDAMIENTO

// usar los dstintos import para generar ($VARIABLES reutilizables )
// mixin y nesting son solo referencias de maneras al aplicar codigo.
// las validas son solamente hasta ahora colors y fonts por ejemplo, importando con $ lasdiferentes etiquetas 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

// por ejemplo 



body {
    margin: 0;
    background-color: $background2;
    color: $color1;
}


   /*inicio*/

.menu-container {
    display: flex;
    color: white;
    justify-content: center;
    background-color: black;
    padding: 10px 0;
}



/*fin*/

.footer-container, .redesfooter{ 

    display: flex;
    color: white;
    justify-content: center;
    background-color: black;
    padding: 6px 0;
 

        .redes11, .redes22 {
            height: 25px;
            width: 25px;
        }
        .redes11 {
            margin-right: 15px;
        }
    
}



.footer-section {
    /* Fija elemento /position:fixed; */
    position: fixed;
    left:0px;
    bottom:0;
    height:30px;
    width:100%;
    background:black;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 10px 0;    
    
}


/*menu*/
.header-container { 
    color: black;
    display: flex;
    justify-content: center;
    

    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;

    .header2 {/*menu 2*/
        width: 1100px;
        height: 90px;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    
        font-family: $fontsyne;
        letter-spacing: 2px;
    }
    
    a {
        text-decoration: none black;
    }

}





  .redes1 {
    text-decoration: none;
    width: 25px;
      height: 25px;

 }

  .redes2 {
    text-decoration: none;
    width: 25px;
      height: 25px;
  }



.redesp {
    
    .redesp {
        width: 30px;
        height: 30px;
        margin: 3%;
       
    }

}

.sociales {
    
    text-align: center;
    width: 100px;
    height: 90px;
    padding-top: 30px;
    
    li {
        display: inline-block;
        margin: 3%;
    }
    
}

ul {
    text-decoration: none;

    li {
        list-style: none;
    }
    a{
        color: black;
    }

}

.Home,
.Work,
.Nombre,
.Blog,
.About,
.Contact{ 

    @include header;
}

.Nombre:hover {
    text-decoration: none black;
}


h1 {
    margin-top: auto;
    font-family: $fontmont;

    font-weight: 400;
    text-align: center;
    padding: 20px 50px;
    font-size: 25px;
    
}

h2 { 
        font-family: $fontmont;

}

h3 { 
    font-family: $fontmont;

    position: relative;
	height: auto;
	width: 550px;
	left: 50%;
	transform: translateX(-50%);
	margin:2% 0 2% 0;
	text-align: center;
	font-weight: 650;
	letter-spacing: 1.5px;
	color:black;
}

h5 {
    font-family: $fontmont;
    font-size: small;

}

  
    .Form {
        font-family: $fontmont;
    
    }

    footer {
        font-family: $fontmont;
    
    }
    
   
    ul,li {
        text-decoration: none black;
        font-family: $fontmont;
        font-size: small;
      
      }
      p {
        font-family: $fontmont;  
    }




img {
    width: 150px; height: 150px;
  }


.photo-grid-container {
    display: flex;

    .photo-grid {
    width: 1100px;
    justify-content: center;
    flex-wrap: wrap;
        
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 5em;
    column-gap: 5em;
    } 
}


label { 
    background-color: white;
    font-family: $fontmont;
}


.imgredonda {
    width:150px;
    height:150px;
    border-radius:100px;

  }



/* FORMULARIO CONTACT*/


.lista{
    li {
        margin: 8px;
        width: 100%;
        font-family: $fontmont;

    }
}
.correo {
    li {
        font-size: 15px;
        margin: 8px;
        width: 100%;
        font-family: $fontmont;
    }
}
.logo {
    text-align: center;
    font-size: 3em;
}

.logo span {
    color: #B70E21;
}
.content2{
    transition:all .5s ease-in-out; /* transicion */

    @include formw;  /* animacion en contacto*/
    
}
.contact-wrapper {

    box-shadow: 0 0 20px 0 rgba(8, 8, 8, 0.3);
    margin: 40px;
    border-radius: 30px;

   
}

.contact-wrapper > * {
    padding: 1em;
    border-radius: 30px;

    
}

.contact-form {
    background: white;
    align-items: center;
    margin-top: 40px;
    

    h2{
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 30px;
        font-family: $fontmont;
    }
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
    font-family: $fontmont;
    
}

.contact-form form .block {
    grid-column: 1 / 3;
}


.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: black;
    border-bottom: 1px solid rgb(70, 24, 24);
}

.contact-form form button {
    color: white;
    width: 50%;
    margin-left: 25%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    border-bottom: 1px solid black;
    border-radius: 50px;

    cursor: pointer;
    
    @include button;

}

.contact-form form button {
    background: black;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: rgb(32, 31, 31);
    color: white;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* CONTACT INFO */
.contact-info {
    background: white;
    align-items: center;
    text-align: center;
}
ul li {
    text-align: center;
}
.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

.imgredonda {
    align-items: center;
    width:150px;
    height:150px;
    border-radius:100px;
    margin-left: 15px;

  }
/* TAMAÑO*/

@media(min-width: 700px) {
    
    .contact-wrapper {
        display: grid;
        grid-template-columns: 3fr 2fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
    

    
}

/* ESTILO HOME */ 


.menugallery .gallery{
	position: relative;
	height: auto;
	width: 90%;
	margin: auto;
	padding: 25px 0;
	display: grid;
	grid-template-columns: auto auto auto auto; /*Escribo auto cuatro veces porque quiero cuatro filas*/
	grid-gap: 2vh;
    grid-auto-flow: dense;
    
    .img{
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
        box-shadow: 0px 2px 2px white;
        border-radius: 2px;
    }

    .img:first-child{
        grid-column-start: span 2;
        grid-row-start: span 2;
    }

    .img:nth-child(2n+3){
        grid-row-start: span 2;
    }

    .img:nth-child(4n+5){
        grid-column-start: span 2;
        grid-row-start: span 2;
    }

    .img:nth-child(6n+7){
        grid-row-start: span 1;
    }

    .img:nth-child(8n+9){
        grid-column-start: span 1;
        grid-row-start: span 1;
    }

    .img img{
	
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: brightness(0.5) grayscale(100);
        border-radius: 2px;
        transition: 0.3s ease-in-out;
        transition:all .5s ease-in-out;
        /*  filter: opacity(0.90);  efecto */

        @include galleryimg;

    }
    
}



@media only screen and (max-width: 768px){
	
	.menugallery .gallery{
		display: grid;
		grid-template-columns: auto auto auto;
	}
}

@media only screen and (max-width: 430px){

	.menugallery .gallery{
		display: block;
	}
	.menugallery .gallery .img{
		display: block;
		width: 100%;
		height: 100%;
		margin:2% 0;
	}
	.menugallery .gallery .img img{
		display: block;
		filter: brightness(1) grayscale(0);
	}
}

.effects:hover {
    /*transform: scale(2); */ 
 /*   transform: rotate(45deg); */
   /* transform: translate(0,200px);

   transition-property: all;
   transition-duration: 1s;
   transition-timing-function: ease;
   transition-delay: 0.5s; */

   transform: skew(30deg);
   transition: all 0.5s ease 0.5;
   -webkit-transition: all 0.5 ease 0.5s;  /*para chrome y safari transition va a funcionar */
   -moz-transition: all 0.55 ease 0.5s; /*mozilla*/ 
   -o-transition:  all 0.5 ease 0.5s; /*opera*/
   -ms-transition: all 0.5 ease 0.5s; /*explorer*/ 
}

/*WORK */

.menuwork{
	position: flex;
	height: 100%;
    width: 100%;
    
    
    h3 {
    
        position: relative;
        height: auto;
        width: 86%;
        left: 50%;
        transform: translateX(-50%);
      /*  margin:1% 0 2% 0;*/
      margin-top: 12px;

        text-align: center;
        font-weight: 650;
        letter-spacing: 1.5px;
        color:black;
        
        font-size: 3vh;     /*ult*/
        font-weight: 400;
        text-transform: uppercase;
    }

    .contenedor {
        position: relative;
        height: 68vh;
        font-family: sans-serif;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        margin: auto;
        padding: 11px;
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: auto auto auto auto; 
        grid-gap: 0.05vh;
        grid-auto-flow: dense;
    }

  /*  .img{
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
        border-radius: 2px;
    }

    .img:first-child{
        grid-column-start: span 2;
        grid-row-start: span 2;
    }

    .img:nth-child(2) {
        grid-row-start: span 2;
        grid-column: span 2;
    }

    .img:nth-child(3){
        grid-column-start: span 2;
        grid-row-start: span 2;
    }

    .img:nth-child(4){
        grid-column-start: span 2;
        grid-row-start: span 2;}

    .img img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: brightness(0.5) grayscale(100);
        border-radius: 2px;
        transition: 0.3s ease-in-out;
        transition:all .5s ease-in-out;
    } */ 



}


.menuwork .contenedor .img:hover img{
    filter: brightness(1) grayscale(0);
    
    -webkit-transform:scale(0.5);transform:scale(0.97);
     overflow:hidden;
}

@media only screen and (max-width: 768px){  /*responsive mobile*/
	
	.menuwork .contenedor{
		display: grid;
		grid-template-columns: auto;
    }

}

@media only screen and (max-width: 430px){

	.menuwork {
		display: block;
	}
	.menuwork {
		display: block;
		width: 100%;
		height: 100%;
		margin:2% 0;
	}
	.menuwork img{
		display: block;
		filter: brightness(1) grayscale(0);
	}
}


/* WORK EDIT 2*/ 



.contenedor { /*tamaño total*/
   
    figure{
        margin: 12px;
       position:relative;
        height: 410px;
        cursor: pointer;
        width: 297px;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    }

    img{
        width: 310px;
        height: 410px;
        transition: all 500ms ease-out;
    }

    .capa{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(22, 25, 26, 0.418);
        transition: all 500ms ease-out;
        opacity: 0;
        visibility: hidden;
       text-align: center;
    }
    
}

.contenedor figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}
.contenedor figure:hover > .capa h2{
    margin-top: 170px;
    margin-bottom: 15px;
}
.contenedor figure:hover > img{
    transform: scale(1.05);
}
.contenedor figure .capa h2{
    color: white;
    font-size: 3vh;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
     margin-top: 30px;
}


.contenedor figure .capa p{
    font-size: 2vh;
    color: white;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}

  
  
  /**/                                                                   /* WORK SECTION*/
  .gallery-block{
    padding-bottom: 55px;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;                               
    height: 90vh;
    font-family: $font;

    .heading{
        margin-bottom: 10px;
        text-align: center;
    }

    h3{
        width: 92%;
        margin-bottom: 12px;
        font-size: 3vh;
        font-weight: 400;
          text-transform: uppercase;
      }
  }
  

  .gallery-block.compact-gallery .item{
    padding-bottom: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73vh;      /*todo*/
    font-family: sans-serif;

    overflow: hidden;
    margin-bottom: 0;
    opacity: 1;

    .image{
        width: 310px;
        height: 410px;
        transition: all 500ms ease-out;
        
        
      }
    
      .info{
        position: relative;
          display: inline-block;
      }

      .description{
        display: grid;
          position: absolute;
          bottom: 60px;
          font-family: 'Montserrat', sans-serif;  
    
          color: #fff;
          padding: 10px;
          font-size: 2vh;
          line-height: 18px;
          margin-bottom: 18px;
          width: 84%;
          height: 25%;
          padding-top: 15px;
          padding-bottom: 15px;
        
          opacity: 1;
          transition: 0.8s ease;
          text-align: center;
          text-shadow: 2px 2px 2px black;
          /*   background:  linear-gradient(to bottom, transparent, rgb(0, 0, 0)); */

      }
      
    
  }
  
  .gallery-block.compact-gallery .item 
  .gallery-block.compact-gallery .item .description .description-heading{
      height: 92px;
      
    font-size: 1em;
    font-weight: bold;
  }
  
/*.gallery-block.compact-gallery .item .description .description-body{  /*Descripcion si hace falta
    font-size: 0.8em;
    margin-top: 10px;
    font-weight: 300;
  } */
  
  @media (min-width: 768px) {

  
    .gallery-block.compact-gallery .item .description {
      opacity: 0; 
      
    }
  
    .gallery-block.compact-gallery .item a:hover .description {
      opacity: 1; 
    } 
  
    .gallery-block .zoom-on-hover:hover .image {
        transform: scale(1.05);      

    }
  }
  
  
  
  /**/

/* .social, .suscribe {
    align-self: flex-end;
} */
/* .first-item {
    order: 1;
}
.last-item {
    order: -1;
} */



/*BLOG*/

body {

    font-weight: 500;
    font-size: 14px;
    font-variant-caps:"Source Sans Pro";
    font-kerning:"Roboto";

 h1 {
     color: black;
 }
 h2 {
     color: black;
     font-size:1.8em;
     font-weight:700;
 } 
 h3 {
     color: black;
     font-size:1.6em;
     font-weight:700;
 }
  h4 {
    font-size:1.4em;
     color: black;
 }
 a {
    text-decoration:none;
}
p {
    line-height:1.9em;
    margin:2em 0;
    font-size:1em;
    font-weight: 500;
}
 }

 /*h1 {
     font-size:2em;
     font-weight:700;
     display:flex;
     justify-content:flex-start;
     align-items:center;
     margin:30px 0;
 } */
 
 
 
 .blog-post {
     width:80%;
     max-width:1100px;
     background:white;
     margin:20px auto 0;   
     border:1px solid #f4f4f4;
     box-shadow:0 0 25px rgba(0,0,0,.05);
 }
 

 .blog-h {
     
     width:100%;
     margin-top: 6px;
     height:0;
     padding-bottom:20%;
     background:url('../DW - IMAGEN/FOTOS/6.jpeg') 20% 46% no-repeat ;
     background-size: cover;
     position: relative;
     
 }
 
 
 summary {
     margin-top:20px;
     display:inline-block;

     h3 {
        width:100%;
        font-size:2.5em;
        color: black;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
    }
    .blog-date {
        width:100%;
        font-size:15px;
        padding-left:2px ;
        color: rgb(68, 60, 60);
    }
 }

 
 article {
     
     padding-bottom:50px;
     
 }
 .blog-content {
     width:55%;
     margin:auto;
 }
 
 .blog-img {
     width:60%;
     height: 0;
     margin:50px auto 60px;
     padding-bottom:45%;
     background:url('../DW - IMAGEN/FOTOS/5.jpeg') 20% 55% no-repeat ;  /*center center*/
     background-size:cover;
     position:relative;
     
 }
 
 .blog-img-caption {
     position:absolute;
     bottom:-30px;
     font-size:.9em;
     color:black;
     background-color: white;
     font-family: 'Montserrat', sans-serif;
     left:4%;
 }

 .blog-tag {
    position:absolute;
    bottom:-50px;
    font-size:.9em;
    color:black;
    background-color: white;
    font-family: 'Montserrat', sans-serif;

    left:4%;
 }
 
 b {
     font-weight:bold;
 }
 
 @media (min-width:601px) and (max-width:1000px){
     .blog-post {
         width:90%;
     }
     .blog-content {
         width:75%;
     }
   
     .blog-hero {
         padding-bottom:35%;
     }
 }
 
 @media (max-width:600px){
     .blog-post {
         font-size:.9em;
         width:90%;
     }
     .blog-content {
         width:80%;
     }
     .blog-img {
         width:90%;
         padding-bottom: 50%;
     }
     .blog-hero {
         padding-bottom:60%;
     }
 }
 .awork{

    @include header;

}

/*ABOUT*/ 


.imgredonda2 {
    width:150px;
    height:150px;
    border-radius:100px;
}

.imgRedonda {
    width:300px;
    height:300px;
    border-radius:150px;
  }
  
  html { /*modifica section work */
    font-size: 10px;
  }
  
  body {
  background-position: 0 1000px;
  font-family: 'Roboto', sans-serif;
  }
  
  .containerabout {
    max-width: 1100px;
    margin: 0 auto;
    padding: 5rem 3rem;
    margin-top: -6rem;
    text-align: center;

    h1 {
        font-family: 'Montserrat', sans-serif;
        padding-bottom: 10px;
        position: relative;
        height: auto;
        left: 50%;
        transform: translateX(-50%);
        margin:2% 0 2% 0;
        font-weight: 650;
        letter-spacing: 1.5px;
    
        color: black;
        font-size: 3rem;
        letter-spacing: 8px;
     /*   margin-bottom: 2rem;*/
      }
      h2 {
        color: black;
        font-size: 2rem;
        font-weight: 400;
      }
}
 
  .imageabout {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 100px;
    transition:all .5s ease-in-out;

    @include imageabout;
  }

  .parrafoabout {
    font-family: 'Montserrat', sans-serif;  
    margin-bottom: 5rem;
    font-size: 16px;
    color: black;
    line-height: 5rem
  
    
  }
  
  .redes1 {
    text-decoration: none;
    width: 25px;
      height: 25px;

 }

  .redes2 {
    text-decoration: none;
    width: 25px;
      height: 25px;
  }

 
  .btn:hover {
    background: white;
  }


//presentation 



  :root {
      --primary-color: #3a4052;
  }
  
  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  
  body {
      font-family: $font;
      line-height: 1.5;
  }
  
  a {
      text-decoration: none;
      color: var(--primary-color);
  }
  
  .namep {
      color: white;
      text-align: center;
      font-weight: 300;
      font-size: 40px;
      line-height: 1.2;
      margin-bottom: -10px;
    background: none;  
    font-family: $fontmont;

}
.subt {
    color: white;
    font-family: $fontmont;
    font-size: 20px;
}
  .showcase {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #fff;
      padding: 0 20px;
  }
  
  .video-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background: black;
  }
  
  .video-container video {
      min-width: 100%;
      min-height: 100%;
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
  }
  
  .video-container:after {
      content: '';
      z-index: 1;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
  }
  
  .content {
      z-index: 2;
  }
  .socialesp {
      margin: 0;
  }
  .btnp {
      display: inline-block;
      font-size: 15px;
      padding: 10px 30px;
      font-family: $fontmont;
     /* background: var(--primary-color); */
      color: white;
    /*  border-radius: 5px;*/
      margin-top: -20px;
      margin-bottom: 15px;
     /* border: solid #fff 1px; */
    /*  opacity: 0.70; */

  }
  
  .btnp:hover {
      transform: scale(0.98);
      text-decoration: line-through;
  }
  
 /* #about {
      padding: 40px;
      text-align: center;
  }
  
  #about p {
      font-size: 1.2rem;
      max-width: 600px;
      margin: auto;
  }
  
  #about h2 {
      margin: 30px 0;
      color: var(--primary-color);
  }
  
  .social a {
      margin: 0 5px;
  } */


 .socialesp li {
    align-items: center;
    display: inline-block;
    margin: 3%;
} 




/*MOBILE*/

header .openm,
header .closem {
    display: none;
}

@media (max-width: 768px){
    
    header nav{
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: white;
        z-index: 1;
        padding: 0;
        text-align: center;

        display: flex;
        flex-direction: column;
        text-align: center;

        justify-content: center;

        opacity: 0;
        transition: left 0.5s, opacity 1s;
    }
    #nav:target {
        left: 0;
        opacity: 1;

        
      /*  display: flex;
        flex-direction: column;
        text-align: center;

        justify-content: center;
        align-items: center; */
    }
    ul, .header2 {
        background-color: none;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 300px;
    }
    header nav ul li a {
        font-size: 1.7rem;
        text-decoration: line-through;
    }
    header .openm,
    header .closem{
        display: block;
        position: absolute;
        margin-left: 130px;
        margin-top: 10px;
        top: 20px;
    }
    header .openm {
       
        margin-left: 0;
        margin-top: 15px;
        padding-top: 10px;
    }
    header .closem {
        margin: 0;
    }

    header .closem img {
        width: 30px;
        height: 30px;
    }
    header .openm img{
        height: 23px;
        width: 30px;
    }
   
    ul .sociales, li{
        margin-left: 100px;
        margin-top: 10px;   
        margin-bottom: 10px;
        

        .redes1 {
            margin-top: 100px;
            margin-right: 35px;
            
        }
        .redes2 {
            margin-top: 50px;
            margin-right: 35px;

        }
     }
}



/*Skills*/ 


* {
  margin: 0;
  padding: 0;
}
/*
body {
  background-color: #12172b;
  color: white;
  font-family: "Poppins", sans-serif;
} */

.h2s {
  text-align: center;
  margin-top: 20px;
}

.skills-area {
  display: flex;
  flex-direction: column;
  padding: 0 20%;
}

.skill {
  position: relative;
  margin-bottom: 40px;
}

.skill-title {
  font-size: 28px;
  margin-bottom: 10px;
 
}

.skill-bar {
  width: 100%;
  background: rgba(27, 26, 26, 0.911);
  height: 40px;
  z-index: -1;
  border-radius: 100px;
  position: absolute;
}


.skill-fill {
  background: black;
  height: 40px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  overflow: hidden;

  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.skill-fill:hover{
    -webkit-transform: scale(0.5);
    transform: scale(1.07);
    overflow: hidden;
}

.skill-percent {
  font-size: 30px;
  color: white;
}



.html1 {
  animation: html1 2s;
  width: 80%; 
}


.css1 {
  animation: css1 2s;
  width: 80%;
}

.mkt1 {
  animation: mkt1 2s;
  width: 90%;
}

@keyframes html1 {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

@keyframes css1 {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

@keyframes mkt1 {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

@media only screen and (max-width: 750px) {
  .skills-area {
    padding: 0 5%;
  }
}
