
$color1: black;
$color2: white;
$background1: black;
$background2: white;

// por eje
//listo para aplicar a cualquier etiqueta, codigo css por ejemplo (body) se pondria en (_Styles.scss)

$background-color-body: rgb(0, 0, 0);
$brand-color: black;
$footer: rgb(0, 0, 0);
$colorgeneral: black;




